/* Vùng 1: Header */
header {
  background-color: #808080; /* xám */
  color: white;
}

/* chữ menu */
header a {
  color: white;
}

/* Vùng 4: Footer */
footer {
  background-color: orange;
  color: white;
  text-align: center;
  padding: 10px;
}
